{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
    <div class="block-nav">
        <h1> Christian COLEY</h1>
        <h2 class="status"> Dévellopeur Web & Mobile </h2>
        <img class="photoChristian" src="/pictures/chris.jpg" alt="photo de christian">
    </div>
    <section class="welcome">
        <div class ='bio'>
            <h2 class="textWelcome">Bienvenue dans mon site!!!</h2>
            <p class="textBio"> Actuellement à la WILD CODE SCHOOL de Lyon, je me forme afin d’acquérir un savoir-faire pour intégrer une équipe passionnée qui me permettra de développer mes compétences.

                Après une dizaine d’années en agroalimentaire, j’ai décidé de me donner une nouvelle orientation.  </p>
        </div>
    <div class = "buttonWelcome">
        <button class="btn btn-success" ><a href="/items/CV-Christian-COLEY.pdf" download="CV-Christian-COLEY.pdf"> Télécharger le CV</a></button>
        <button class="contact btn btn-primary"><a href="#footer">Mes coordonées</a></button>
    </div>
    </section>







{% endblock %}
