body {
    background-color: lightgray;
}
p{
    color:#555;
    font-family: 'Roboto', sans-serif;
}
a:hover {
    text-decoration: none;
    color: yellow !important;
    transition-duration: 1s;
    text-decoration: none;
}


@import "~bootstrap/scss/bootstrap";

li{
    list-style: none;
}
.navbar{

    font-family: 'Righteous', cursive;


}

.linkNav{
    color : white;
    font-size: 2em;
    margin-right: 50px;
}

.linkDropdown{
  color : white;
  font-size: 2em;
}

.linkHome{
  margin-right: 600px;
  color : white;
  font-size: 2.5em;
}


.block-nav{
    background-image: url("../pictures/homePage.jpg");
    height: 800px;
    background-attachment: fixed;
    background-repeat: no-repeat !important;
    background-position: top !important;
    background-size: cover !important;
    text-align: center;
    font-family: 'Righteous', cursive;
    color:white;
    text-shadow: black 9px 0 60px;
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-top:400px;
    border-bottom:4mm ridge rgb(52, 152, 219);
    align-items: center;

}
.itemNavbar{
  margin-left: 10%;
}
h1{
    font-size: 6em;
}
.status{
    font-size: 2.5em;
}

.photoChristian{
    width: 300px;
    border-radius: 50%;
    border: 1mm ridge rgb(52, 152, 219);
    margin-top: 50px ;
}

//section welcome//////////////////////////////////////////////////
.welcome {
    width: 50%;
    margin:auto;
    border-bottom:1mm ridge rgb(52, 152, 219);
    color:#555;
}

.textWelcome{
    font-family: 'Righteous', cursive;
    font-size:3em;
}
.bio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    margin-bottom: 50px;
}
.textBio{
    font-size: 1.3em;
    text-align: justify;
}
button>a{
    color:white;
    font-size: 2em;

}

.buttonWelcome{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;

}

/////mes projets//////////////
.mesProjets{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 100px;

}
h5{
    font-size: 2em;
    font-family: 'Righteous', cursive;
}
small{
    font-size: 1.2em;
}
.sectionTitle{
    font-family: 'Righteous', cursive;
    font-size:3em;
    text-align: center;
}

///footer////////

footer{
    background-color: rgb(52, 152, 219) !important;
    color:white;
}
.logoFooter{
    width: 70px;
}


.card-body{
    background-color: whitesmoke;
}

////fomulaire login/////////

.formLog{
    margin-top: 120px;
}


/////CV///////

.blockCv{
    margin-top: 100px;
}


////formulaire de contact//////

label{
    font-size: 1.2em;
    color:#555;
    font-family: 'Roboto', sans-serif;
}



